body {
  margin: auto auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerImg {
  width: 300px;
  height: 310px;
}

.avatarImg {
  width: 35px;
  height: 35px;
}
